fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
python-dotenv==1.1.0
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart==0.0.20
email-validator
langchain
langchain-google-genai
langchain-community
# chromadb
pypdf
faiss-cpu
langchain-classic
langchain-ollama